<header>
    <img src="../assets/images/Ins.png" id="search-icon" style="height: 70px; width: 110px;">
<div style="width:100% ;display: flex;align-items: center;">
    <h4 style="margin-right: 250px;">Agent's Portal</h4>
        <input type="text" placeholder="Search.." name="search2" style="border-radius: 5mm;width: 9cm;height: 35px;border: rgb(252, 247, 247) solid; background-color: rgb(252, 247, 247);text-align: center;">
    </div>   <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
    <div class="bell-icon">
        <img src="../assets/images/belll.png" id="belll-icon" style="height: 20px; width: 20px;margin-right: 30px;">

    </div>
    <div class="profile">
        <img src="../assets/images/profile.png" id="profile-icon" style="height: 25px; width: 25px;margin-right: 50px;">
    </div>
    </header>


