<html>

<body>
    <div>
<div style="height: 2000px;">
    <div class="report-container" style="align-self: left;">
            <div>
                <h4> <a>
                        < New Lead</a>
                </h4>
                <br>

            </div>

            <div class="text">
                <select>

                    <option value="All Policies">All Policies</option>
                    <option value="saab">Team</option>
                    <option value="opel">Life</option>
                    <option value="audi">Family</option>
                </select>

                <select class="recent" style="margin-left: 10px;">
                    <option value="Recent">Recent</option>
                    <option value="saab">1 day ago</option>
                    <option value="opel">2 days ago</option>
                    <option value="audi">3 days ago</option>
                </select>

                <button type="button"> Qualified</button>
                <button type="button" style="margin-right: 90px;">Interested</button>
                <button type="text" style="width: 5cm;background-color:rgb(66, 178, 215) ;"><a routerLink="/multiform"
                        style="color: white;"> Add New Leads</a></button>
            </div>
            <div>
                <app-view-leads></app-view-leads>
            
            </div>
            
    </div>

</div>

</div>
</body>

</html>